.home-container{

/* margin-top: 100px; */
background-color: rgb(0, 93, 0);
overflow: hidden;

display: flex;
align-items: center;
justify-content: center;
height: 60vh;


/* border-radius: 25% 25% 100% 0% / 0% 0% 24% 55%; */
border-radius: 0px 0px 160px 10px;
margin-top: 100px;
}

.home-banner-container{


    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 25px 0px 25px 55px;
    gap:35px;
}




.home-bannerImage-container{

position: absolute;

right: 0%;

width: 40%;
overflow: hidden;

}

.home-image-section img{

   width: 100%;
   height:auto;
 
}


@media screen and (max-width: 900px) {

   .home-container{

      margin-top: 100px;
      background-color: green;
      /* overflow: scroll; */
      display: block;
      align-items: center;
      justify-content: center;
      height: 100vh;
      }

   .home-banner-container{


      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between; 
      padding: 0px 20px;
  }
.home-text-section{
   background-color: green;
   position: absolute;
   bottom: 20%;
   padding: 10px;
}
  
  
  
  
  
  .home-bannerImage-container{
  
  position: absolute;
  
  right: 0%;
  top: 0%;
  width: 20%;
  overflow: hidden;
  
  
  }
  
  .home-image-section img{
  
     width: 560px;
     background-size: cover;
     height:auto;
   
  }
  
}

