.home-container{

/* margin-top: 100px; */
background-color: green;
overflow: hidden;

display: flex;
align-items: center;
justify-content: center;
height: 100vh;

}

.home-banner-container{


    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 25px 55px 25px 55px;
}




.home-bannerImage-container{

position: absolute;

right: 0%;

width: 40%;
overflow: hidden;

}

.home-image-section img{

   width: 100%;
   height:auto;
 
}


@media screen and (max-width: 900px) {

   .home-container{

      margin-top: 100px;
      background-color: green;
      overflow: hidden;
      display: block;
      align-items: center;
      justify-content: center;
      height: 100vh;
      }

   .home-banner-container{


      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      justify-content: space-between; 
      padding: 25px 55px 25px 55px;
  }
  
  
  
  
  .home-bannerImage-container{
  
  position: absolute;
  
  right: 0%;
  top: 0%;
  width: 20%;
  overflow: hidden;
  
  
  }
  
  .home-image-section img{
  
     width: 560px;
     background-size: cover;
     height:auto;
   
  }
  
}

